        <div class="row">
            <button class="btn btn-circle btn-sm" type="button"  title="Delete" @onclick="@(() => DeleteMe?.Invoke(CheatModel))">
                X
            </button>
            <li class="draggable col" draggable="true" title="@CheatModel.Name" @ondragstart="@(() => HandleDragStart(CheatModel))" @ondrop="@(() => ShouldRender())">
                <div>
                    <p class="description">@CheatModel.Name</p>
                </div>
                <p class="heap"><small>@CheatModel.Content</small></p>
            </li>
        </div>

        @code {

            [CascadingParameter]
            CheatsContainer Container { get; set; } = null!;

            [Parameter]
            public Data.Cheat CheatModel { get; set; } = new();

            [Parameter]
            public Action<Data.Cheat>? DeleteMe { get; set; }

        private void HandleDragStart(Data.Cheat cheat) => Container.Payload = cheat;
}